<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register - TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <header>
    <h1><a href=/urls>TinyApp</a></h1>
    <p><a href=/urls/new>Create New TinyURL</a></p>
  </header>

  <h2>Enter your email and password</h2>
  <form action="/register" method="POST">
    <div>e-mail</div>
    <input class="form-control" type="email" name="email" placeholder="John@mail.com" style="width: 300px; margin: 1em"><br>
    <div>password</div>
    <input class="form-control" type="password" name="password"  placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Sign-up</button>
  </form>

</body>
</html>