<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

  <% include ./partials/_header %>
  <% if(urls) { %>
    <h1>My URLs</h1>
    <% for(let short in urls){ %>
      <p><em><%= urls[short] %></em> is shortened to <em><%= short %></em></p>
      <form class="form-inline" action="urls/<%= short %>/delete" method="POST">
        <div class="form-group mb-2">
          <button class="btn btn-primary">delete</button>
        </div>
      </form>
    <% } %>
  <% } %>
</body>
</html>